@font-face {
  font-family: "SpaceMono Nerd Font";
  font-display: swap;
  src:
    local("SpaceMono Nerd Font"),
    url(../fonts/JetBrainsMonoNerdFontComplete-SemiBold.woff2) format("woff2"),
    url(../fonts/JetBrainsMonoNerdFontComplete-SemiBold.woff) format("woff");
}

:root {
  color-scheme: dark;
}

img {
  transition:
    transform 0.15s ease-in-out,
    opacity 0.2s ease-in-out;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  background-color: var(--background-color);
  background-image: url("../bgs/topography.svg");
  overflow-x: clip;
}

html.loaded {
  transition: background-color 0.2s ease-in-out;
}

body {
  display: flex;
  color: var(--text-color);
  font-family:
    JetBrainsMono Nerd Font,
    monospace;
  justify-content: center;
  align-items: center;
}

#text,
#image {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

#text.loaded,
#image.loaded {
  opacity: 1;
}

#text.loaded * {
  transition: color 0.2s ease-in-out;
}

#carouselImage {
  height: 550px;
  aspect-ratio: 9 / 16;
  border-radius: 6px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

#image {
  margin-right: 1em;
}

#carouselImage:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 800px) {
  img,
  #image {
    display: none;
    margin: 0;
    padding: 0;
  }
}

#greeting {
  color: var(--accent-color-2);
  font-size: 2.5em;
  font-weight: 900;
  grid-column: 1/-1;
  text-align: center;
  display: grid;
}

#date {
  font-size: 1.3em;
  font-weight: 600;
  color: var(--accent-color);
  display: grid;
  grid-column: 1/-1;
  text-align: center;
  margin: 1em 0;
}

.header {
  color: var(--accent-color);
  font-size: 1.6em;
  font-weight: 600;
}

#links {
  display: grid;
  grid-row-gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
}

ul {
  list-style-type: none;
  padding-left: 1em;
  margin-left: 0;
}

a {
  color: var(--text-color);
  font-size: 1.2em;
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
  font-style: italic;
}

.fazzi .urls:nth-child(even) {
  padding-left: 1.5em;
}

#image {
	padding-right: 1em;
}
